body {
    display: flex;
    justify-content: center;
}

.calc {
    /* width: 400px;
    height: 600px; */

    background-color: antiquewhite;

    display: flex;
    flex-direction: column;
}

.display {
    height: 80px;
    background-color: lightblue;
    border: solid black 1px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;

}

.small-button,
.big-button {
    height: 50px;
}

.big-button {
    flex: 1000 1 25%;
}

.small-button {
    flex: 1 1 25%;
}